<div class="container">
    <section class="mt-5 mb-5">
        <div class="col md-12">
            <h2 style="text-align: center; text-decoration: underline;"> Users List</h2>
            <app-child-fn-con #childfncon (parentFnEvent)="CallChild($event)" [allparams]='{data:1}'></app-child-fn-con>
            <button class="btn btn-success btn-sm" type="button" (click)="callChildFunction()">Call Child Fn From
                Parent</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3" align="left">
                            <button [disabled]="xlbtn" (click)="DownloadPDF()" type="button"
                                class="btn btn-success btn-sm">Downlaod
                                Excel</button>
                        </th>
                        <th colspan="3" align="right">
                            <button [disabled]="pdfbtn" type="button" class="btn btn-success btn-sm">Downlaod
                                PDF</button>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" align="left">
                            <select (change)="setLimit(limit_.value)" #limit_>
                                <option value="5">Limit</option>
                                <option value="{{ item }}" *ngFor="let item of limit_list;">{{ item }}</option>
                            </select>
                        </th>
                        <th colspan="3" align="right">
                            <p style="text-align:right;">Total: {{ totalRecords }} of {{checkNo }}</p>
                        </th>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataload==false">
                    <tr
                        *ngFor="let item of records| paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalRecords }; let i=index;">
                        <th scope="row">{{ item.slno }}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>
                            <img alt="" src="http://localhost:5000/users-file/{{ item.photo }}" width="50px"
                                height="60px">
                        </td>
                        <td>
                            <a routerLink="/user/edit/{{ item._id }}" [queryParams]="{ id: item._id}"
                                class="btn btn-primary btn-sm">Edit</a>
                            <button class="btn btn-danger btn-sm ml-2" (click)="DeleteUser(item._id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataload==true">
                    <tr>
                        <th scope="row" colspan="6">lata loading. pleae wait..</th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" align="right">
                            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>

<div class="row">
    <div class="col-md-4 mt-2" *ngFor="let item of records_new; let i=index;">
        <div class="card">
            <img style="height: 270px;" src="http://localhost:5000/users-file/{{ item.photo }}" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card’s
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <div class="spinner-border text-primary" role="status" *ngIf="dataload1==true">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>